numpy==1.26.4
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
Pillow==10.2.0
pytesseract==0.3.10
rembg==2.0.55
segno==1.6.1
streamlit==1.31.1
qrcode-artistic==3.0.2
# torch==2.2.0
# torchvision
torch --extra-index-url https://download.pytorch.org/whl/cpu
torchvision --extra-index-url https://download.pytorch.org/whl/cpu
transformers==4.37.2
accelerate==0.27.2
diffusers==0.26.3